body {
    margin: 1em;
    font-family: monospace, helvetica, sans-serif;
    background-color: #222;
}

.topnav {
    overflow: auto;
    top: 1em;
    background-color: #444;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav p {
    margin-left: 1em;
    color: white;
}

.link-group {
    display: flex;
}

.topnav a {
    text-decoration: none;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.embed {
    margin: 1em;
}



footer {
    position: sticky;
    padding: 3px;
    top: 500em;
    bottom: 1em;
    left: 1em;
    right: 1em;
    background-color: #333;
    color: white;
    justify-content: space-between;
    display: flex;
    width: 100%;

}

footer p {
    font-size: 16px;
    font-style: italic;
    color: grey;
}

.links a,
a:visited {
    color: lightgrey;
    float: left;
}

.links a:hover {
    color: grey;
    float: left;
}

.icon {
    font-size: 24px;
    padding: 0.5em;
}

.blog {
    margin: 1em 0em;
    border-radius: 3em;
}



.blog a,
a:visited {
    color: grey;
}

.hyperlink1:hover {
    color: darkgrey
}

.paragraph1 {
    color: hsl(0, 0%, 90%);
}


.blog {
    width: 90%;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: monospace;
    font-size: 15px;
}

.active-blog,
.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active-blog:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    line-height: 1.5em;
    background-color: #f1f1f1;
    color: hsl(0, 0%, 30%);
}

.content2 {
    padding: 0 18px;
    max-height: max-content;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    line-height: 1.5em;
    background-color: #f1f1f1;
    color: hsl(0, 0%, 30%);
}

button {
    font-size: 1em;
    background-color: #04AA6D;
    border: none;
    font-family: monospace;
    color: white;
    padding: 10px;
}
button:hover {
    background-color: hsl(0, 0%, 86%);
    color: #04AA6D;
    cursor: pointer;
}

.embed:hover {
    box-shadow: 5px 5px #04AA6D;
}

.embed2:hover {
    box-shadow: 5px 5px #ff3800;
}